*{
    margin: 0;
    padding: 5px;
}
body{
    background-color: #F5F5F5;
}
form {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}
input, textarea {
    width: 100%;
  margin-bottom: 15px;
  height: 30px;
}
button{
    width: 20%;
    background-color: black;
    color: white;
}
